button,
.button {
    border-radius: 50px;
    padding: 17px 29px;
}

.icon-button {
    display: flex;
    align-items: center;
}

.icon-button span {
    padding-right: 1rem;
}

.white-button {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background-color: #ffffff;
    color: #212353;
    font-size: 16px;
    font-weight: 900;
}

.purple-button {
    background-color: #9C69E2;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
}

.pink-button {
    background-color: #F063B8;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
}

@media screen and (max-width: 1024px) {
    button, .button {
        padding: 10px 10px;
        margin: 0 auto;
    }
}