@media screen and (min-width: 1024px) {
    .footer h3 {
        font-size: 40px;
    }
}

.footer {
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 90px;
    border-top: 1px solid #9C69E2;
}

.footer h3 {
    font-weight: 700;
    color: #212353;
    margin-bottom: 20px;
}

.footer p {
    color: #4B5D68;
    font-size: 18px;
}

.footer address {
    color: #212353;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    margin-bottom: 10px;
}

.footer .logo {
    display: block;
    margin-bottom: 63px;
}

.footer .logo img {
    margin: 0 auto
}

.footer-menu-title {
    font-size: 16px;
    font-weight: 900;
    color: #212353;
    margin-bottom: 30px;
}

.footer-menu-list .footer-menu-link {
    display: block;
    font-size: 16px;
    line-height: 40px;
}

.social-media-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
}

.social-media-list .social-media-item {
    padding-left: 7px;
    padding-right: 7px;
}

.social-media-list .social-media-item .social-media-link {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #212353;
}

@media screen and (max-width: 1024px) {
    .footer {
        text-align: center;
    }

    .mobile-margin-bottom {
        margin-bottom: 30px;
    }
}